body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: $fsize-base;

    margin: 0;

    background: $bg-base-white;
}

*:focus {
    outline: none;
    box-shadow: 0 0 3px $base-npt-light;
}

html,
body,
.main-wrapper {
    width: 100%;
    height: 100%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.site-header {
    overflow: hidden;

    box-sizing: border-box;

    background-color: $base-npt-light;

    flex-grow: 0;
    flex-shrink: 0;

    .site-logo {
        float: left;

        margin: 14px 11px;

         > img {
            display: block;
        }
    }

    .site-main-nav {
        font-size: $fsize-base;
        font-weight: bold;

        float: left;
        overflow: hidden;

        vertical-align: top;
        text-transform: uppercase;

        ul {
            line-height: 45px;

            display: flex;

            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;

            a {
                display: block;

                padding: 0 17px;

                text-decoration: none;

                color: $f-base-dark;

                &:hover,
                &.site-main-nav-active {
                    color: $base-npt-light;
                    background-color: $base-npt-dark;
                }
            }
        }
    }
}

.actions-panel {
    line-height: 20px;

    position: relative;
    z-index: 101;

    height: 20px;
    padding: 12px;

    color: $f-base-light;
    background-color: $base-npt-dark;

    flex-grow: 0;
    flex-shrink: 0;

    .label {
        color: $f-non-editable;
    }

    #reportrange {
        display: inline-block;

        cursor: pointer;
    }

    .fake-report {
        display: inline-block;

        margin: 0 10px;

        cursor: pointer; #reportrange {
            width: 0;
            margin: 0;
            padding: 0;

            opacity: 0;
            border-style: none;
        }
    }
    .prev-month,
    .next-month {
        line-height: 21px;

        width: 15px;
        height: 21px;
        padding: 0;

        cursor: pointer;
        text-align: center;

        color: $f-base-light;
        border-style: none;
        background: none;
    }
}

.page-holder {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    height: 100%;

    flex-grow: 1;
}

.elm-overlay {
    z-index: 9999;
}
