// fonts
$fsize-small: 12px;
$fsize-base: 14px;

// colors
$base-npt-light: #ffa800;
$base-npt-dark: #1d1d1d;

//text colors
$f-base-dark: #2d2d2d;
$f-base-light: #fff;
$f-non-editable: #afafaf;
$f-message: #737373;
$f-error: #e71b00;
$f-ok: #75b200;

//background/border colors
$bg-base-white: #fff;
$bg-table-dark: #313131;
$bg-light-gray: #d6d6d6;
$bg-mid-gray: #fafafa;
$bg-dark-gray: #4b4b4b;
$bg-gray: #7f7f7f;
$bg-important: #ffe5e8;
$bg-highlight: #2692c3;
